.navbar {
  padding: 20px;
  background-color: black;
  color: #fff;
  font-family: 'Ubuntu';
  font-weight: 800;
  font-size: 1.3rem;
}
.search,
.card {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.submit {
  width: 109%;
  position: relative;
  right: 7px;
}
